---
- hosts: all
  gather_facts: no
  tasks:
    - name: Wait 600 seconds for target connection to become reachable/usable
      wait_for_connection:

- hosts: all
  tasks:
    - name: Add Apt signing key
      become: true
      apt_key:
        url: https://neilalexander.s3.dualstack.eu-west-2.amazonaws.com/deb/key.txt
        state: present

    - name: Enable Apt repository
      become: true
      apt_repository:
        repo: deb http://neilalexander.s3.dualstack.eu-west-2.amazonaws.com/deb/ debian yggdrasil
        state: present

    - name: Install yggdrasil
      become: true
      package:
        update_cache: true
        name: yggdrasil
        state: latest

    - name: Add MCPN key
      ansible.posix.authorized_key:
        user: ubuntu
        key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhOHZb06IgO8Zr+n40JLfSgEloOW6bs8Y5RSV7PliX/1uqN5Xtl4ndqt09CC7RdZVSa6KQts1UZt8hZvH4UZt9GdKLKiRHGwHOudBTHnLFFiEfHwdap8rZFDggOdV21Cw5l79nnKj7Uw4zd7S4PBFllaFzmhtrUim1tlm7OIZmVwGU1YQ9hw7t1W+BHDXp/5EKDKsKvqhYBQGKaOTApGWDnKhbIIZpMOY0ZBxtjKWoeHpHLpMAlu68bUAMWWOgx+SK9Ec2xOAF0jWGX/sut34fD/b5WHal2/wsID/v9OfWT4G19TRG5Aork6Eq1LBinODEy9TtluZASCzYpU3ZPD5T mcpn@mcpn-osx"

- hosts: vms
  handlers:
    - name: restart yggdrasil
      become: true
      service:
        name: yggdrasil
        state: restarted
  tasks:
    - name: Copy client
      copy:
        src: ./files/client
        dest: ./
        mode: 0755

    - name: Edit yggdrasil config
      become: true
      replace:
        path: /etc/yggdrasil.conf
        regexp: 'Peers: \[\]'
        replace: 'Peers: ["tls://{{ registry_ip }}:12345"]'
      notify: restart yggdrasil

- hosts: registry
  handlers:
    - name: restart yggdrasil
      become: true
      service:
        name: yggdrasil
        state: restarted
  tasks:
    - name: Copy registry
      copy:
        src: ./files/registry
        dest: ./
        mode: 0755

    - name: Edit yggdrasil config
      become: true
      replace:
        path: /etc/yggdrasil.conf
        regexp: 'Listen: \[\]'
        replace: 'Listen: ["tls://0.0.0.0:12345"]'
      notify: restart yggdrasil

